SUPABASE_URL=https://igvpcsentcpdesbxubkx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlndnBjc2VudGNwZGVzYnh1Ymt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxOTQxMTcsImV4cCI6MjA5MDc3MDExN30.-Dwyhf9hgCMeQmeK5OQPexRGGb5kCF-Gv3-53Hj_l8w
STORAGE_BUCKET=pcc_invoices_files
MODEL_NAME=Qwen/Qwen2.5-3B-Instruct